html{
    font-family: Arial;
    font-size: 14px;
}

.header{
    position: fixed;

    top: 0;

    background-color: white;

    height: 50px;
    width: 100%;

    text-transform: capitalize;

    padding-bottom: 20px;
    padding-left: 20px;

    margin-bottom: 50px;

    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

body {
    margin: 0;
}


.sideBar{
    position: fixed;

    background-color: white;

    width: 180px;

    left: 0;
    bottom: 0;
    top: 72px;

    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.main{
    display: flex;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-left: 10px;

    margin-left: 180px;
    margin-top: 72px;
}

/*junk*/
/*.notes {*/
/*    margin-top: 32px;*/

/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

.note-form {
    width: 100%;
    margin: 0 auto;
}

.note{
    flex-shrink: 0;
    flex-basis: 15%;

    margin-right: 5px;
    margin-bottom: 5px;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.menu{
    margin-top: 10px;
    padding-left: 5px;


    list-style: none;
}

.menu__link{
    padding-top: 5px;
    padding-bottom: 10px;

    border-radius: 10px 30px 30px 10px;
    color: black;

    border: 2px solid rgba(0, 0, 0, 0.04);

    text-decoration: none;
    text-transform: capitalize;

    display: block;

    outline: none;
}

.menu__link:hover{
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.menu__link:focus{
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.menu__link.menu__link--active{
    background-color: rgba(255, 251, 5, 0.5);
}

.note__title{
    margin: 5px;

    font-size: 18px;
    padding-left: 5px;
}

.note__text{
    font-size: 10px;
    padding-left: 8px;
}

.note-form{
    width: 100%;
    margin: 0 400px;
}

.form__label{
    display: inline-block;
    margin-bottom: 5px;
}

.form__input{
    display: block;
    width: 100%;
    margin-bottom: 5px;

    padding: 8px;

    appearance: none;
    -webkit-appearance: none;

    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);

    outline: none;
}

.form__input:focus{
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 8px rgba(0, 0, 255, 0.5);
}

.btn{
    padding: 8px 16px;

    appearance: none;
    -webkit-appearance: none;

    outline: none;

    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 10px;

    margin-bottom: 10px;

    text-transform: uppercase;

    cursor: pointer;
}

.btn:focus{
    background-color: rgba(0, 0, 0, 0.8);
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.btn:active{
    background-color: rgba(0, 255, 0, 0.4);
}

@media (min-width: 576px) {
    .card {
        flex-basis: calc(50% - 8px);
    }
    .wrapper {
        margin-left: 300px;
    }
    .sidebar {
        box-shadow: none;
    }
}

@media (min-width: 768px) {
    .card {
        flex-basis: calc(33% - 10px);
    }

    .note-form {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .card {
        flex-basis: calc(25% - 12px);
    }
}
