html{
    font-family: Arial;
    font-size: 14px;
}

.header{
    position: fixed;

    top: 0;

    height: 50px;
    width: 100%;

    padding-bottom: 20px;
    padding-left: 20px;

    margin-bottom: 50px;

    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    background-color: rgba(255, 242, 82, 0.05);
}

body {
    margin: 0;
}


.sideBar{
    position: fixed;

    width: 120px;

    left: 0;
    bottom: 0;
    top: 72px;

    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.main{
    display: flex;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-left: 10px;

    margin-left: 120px;
    margin-top: 72px;

    background-color: rgba(0, 255, 58, 0.05);
}

/*junk*/
/*.notes {*/
/*    margin-top: 32px;*/

/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

.note-button{
    margin-bottom: 20px;
}

.note{
    flex-shrink: 0;
    flex-basis: 25%;

    margin-right: 5px;
    margin-bottom: 5px;

    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.menu{
    margin-top: 10px;
    padding-left: 5px;


    list-style: none;
}

.menu__link{
    padding-top: 5px;
    padding-bottom: 10px;

    border-radius: 10px 30px 30px 10px;
    color: black;

    border: 2px solid rgba(0, 0, 0, 0.04);

    text-decoration: none;
    text-transform: capitalize;

    display: block;

    outline: none;
}

.menu__link:hover{
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.menu__link:focus{
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.menu__link.menu__link--active{
    background-color: rgba(255, 251, 5, 0.5);
}